export(APA.decimal)
export(getCountryName)
export(getISOs)
export(iso2)
export(iso3)
export(magicExplain)
export(magicFindVariable)
export(magicMap)
export(magicSQL)
import(rworldmap)
import(stringr)
