export(APA.decimal)
export(automagicPaper)
export(countries)
export(getCountryName)
export(getISOs)
export(iso2)
export(iso3)
export(magicCitationNetwork)
export(magicCite)
export(magicConfig)
export(magicExplain)
export(magicExplain.NULL)
export(magicExplain.character)
export(magicFindVariable)
export(magicMap)
export(magicOverview)
export(magicPaper)
export(magicSQL)
export(magicSynopsis)
export(print.magic)
export(print.magicMetaVariables)
import(XML)
import(igraph)
import(magic)
import(stringr)
