export(APA.decimal)
export(countries)
export(getCountryName)
export(getISOs)
export(iso2)
export(iso3)
export(magicConfig)
export(magicExplain)
export(magicFindVariable)
export(magicMap)
export(magicSQL)
import(stringr)
